//------------------ Primary Color 主要的視覺形象代表 -----------------//

$Green_1: #5b774a;
$Green_2: #2e4e3f;
$Green_3: #558c32;
$Green_4: #cbe1D2;

//-------------------------------------------------------------------//
//-----------------Background Color 主要背景色 -----------------------//

$Light_Green: #e6eccc;
$bgc_color: $Light_Green; // 背景色;

//-------------------------------------------------------------------//
//------------Second Color 應用在文字、線段、色塊等顏色 ----------------//

$Gray_1: #545454;
$Gray_2: #747474;
$Gray_3: #bebebe;
$Ivory_white: #fffff0;
$Yellow_1: #d0ad44;
$Light_Yellow: #ede1bb;

//-------------------------------------------------------------------//

//------------------- Alert Color 狀態、提示之應用色 ------------------//

$Success: #558c32;
$Error: #DA0606;
$Yellow_1: #d0ad44;

//-------------------------------------------------------------------//

//---------------------------- 透明度 --------------------------------//

$init : initial;

//-------------------------------------------------------------------//
//------------------------- 文字框線顏色 -----------------------------//

.stroke{
    &-Green_1{
        -webkit-text-stroke: .5px $Green_1;
    }
    &-Ivory_white{
        -webkit-text-stroke: .5px $Ivory_white;
    }
    &-Gray_3{
        -webkit-text-stroke: .5px $Gray_3;
    }
}

//-------------------------------------------------------------------//
//----------------------- 按鈕聚焦框線 -------------------------------//

 $input_focus: 2px solid $Yellow_1;

 //-------------------------------------------------------------------//

 