// 文字樣式
$font_family:'DM Sans, sans-serif';

// 文字大小
$h1: 4rem; // 64px

$h2: 3.5rem; // 56px

$h3: 1.5rem; // 24px

$h4: 1.25rem; // 20px

$h5: 1.125rem; // 18px

$h6: 1rem; // 16px

// 文字行高
$line_height_140: 140% !default;
$line_height_120: 120% !default;
$line_height_100: 100% !default;

// 文字粗細度
$font_weight_Bold:bold;
$font_weight_regular:normal;

@mixin PC_h1{
    font-size: $h1;
    line-height: $line_height_140;
    font-weight: $font_weight_Bold;
    font-family: $font_family;
    color: $Ivory_white;
    @include stroke;
}

@mixin PC_h4(){
    font-size: $h4;
    line-height: $line_height_120;
    font-weight: $font_weight_Bold;
    font-family: $font_family;
    color: $Ivory_white;
}


@mixin text_content{
    font-size: $h3;
    line-height: $line_height_120;
    font-weight: $font_weight_regular;
    font-family: $font_family;
    color: $Ivory_white;
}

