$btn_radius_30px: 30px; // 按鈕圓角 30px
$btn_radius_5px: 5px; // 按鈕圓角 5px

$pic_radius_20px: 20px; // 圖片圓角

$box_shadow: 1px 1px 4px 0px rgba(84, 84, 84, 0.5); // 陰影
$text_shadow: 1px 1px 4px rgba(84, 84, 84, .5); // 文字陰影