
$padding: 0;
$margin: 0;

// 背景色
$backgroundColor: #e6eccc;

// 文字樣式
$fontFamily:'DM Sans, sans-serif';


// 文字大小

$PC_h1: 4rem; // 64px

$PC_h2: 3.5rem; // 56px

$PC_h3: 1.5rem; // 24px

$PC_h4: 1.25rem; // 20px

$PC_h5: 1.125rem; // 18px

$PC_h6: 1rem; // 16px



$body_layout: 1200px !default; // 內容預設寬度



