.btn{
    border-radius: $btn_radius;
    padding: 12px 24px;
    width: 100%;
    text-align: center;
    background-color: $Yellow_1;
    cursor: pointer;
    // &-default{
    //     background-color: $Yellow_1;
    // }
}