// 基本樣式
@import 'base/reset';
@import 'base/space';
@import 'base/colors';
@import 'base/font';
@import 'base/var';

// 工具
@import 'mixin/mixin';

// 組件
@import 'component/btn';
@import 'component/card';
@import 'component/form';
@import 'component/input';
@import 'component/table';
@import 'component/block';

// layout
@import 'layout/header';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/nav';
@import 'layout/popup';


//page
@import 'page/Ac';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: $Gray_1;
    
}

p{
    @include PC_h1;
    @include center;
}
