// base 基本樣式
@import 'base/reset';
@import 'base/space';
@import 'base/colors';
@import 'base/font';
@import 'base/var';

// mixin 工具
@import 'mixin/mixin';

// component 組件
@import 'component/btn';
@import 'component/card';
@import 'component/form';
@import 'component/input';
@import 'component/table';
@import 'component/block';

// layout
@import 'layout/header';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/nav';
@import 'layout/popup';


// page
@import 'page/Ac';
@import 'page/Fp';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $bgc_color;
    max-width: 100%s;
    margin: 0 auto;
}


button{
    box-shadow: $box_shadow;
    font-size: $h7;
}