
// 按鈕 class
.btn{
    @include btn_style($btn_radius_30px, 100%);

    &-SpB_addCart{
        color: $Ivory_white;
        background-color: $init;
        @include border($Ivory_white);
        box-shadow: $box_shadow;
    }
}