/* ----- 社群中心 ----- */
main{  //因為不知道要不要拿 main 當最外框+設置底色，所以新增了一個 Fb-X
    width: 100%;
}
.Fb-X{
    width: 100%;
    background-color: $Light_Green;
    .Fb-wrapper-X{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 3%;
        /* 文章 */
        .Fb-post-X{
            width: 70%;
            flex-grow: 1;
            flex-shrink: 0;
            .Fb-post-category-container-X{
                display: flex;
                border-bottom: 1px solid $Green_2;
                align-items: center;
                margin: 20px 0;
                padding: 10px;
                justify-content: space-between;
                .Fb-post-category-X{
                    display: flex;
                    color: $Green_2;
                    align-items: center;
                    box-sizing: border-box;
                    li{
                        padding: 16px;
                        cursor: pointer;
                        &:nth-of-type(1){
                            padding-left: 0;
                        }
                        &:last-child{
                            padding-right: 0;
                        }
                    }
                    li.Fb-post-category-X-active{
                        font-weight: bold;
                    }
                    
                }
                .Fb-post-write-X{
                    padding: 0;
                    a{
                        display: block;
                        padding: 12px 36px;
                        background-color: $Yellow_1;
                        border-radius: 30px;
                        color: $Green_2;
                    }
                }
            }
            
            .Fb-post-article-X{
                .Fb-post-article-top-X{
                    width: 100%;
                    .Fb-post-article-banner-X{
                        width: 100%;
                        margin-bottom: 32px;
                        height: 248px;
                        background-image: url('../images/Fb01.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                section{
                    article{
                        display: flex;
                        gap: 16px;
                        cursor: pointer;
                        color: $Green_2;
                        letter-spacing: 1px;
                        background-color: $Ivory_white;
                        box-sizing: border-box;
                        padding: 1rem;
                        margin-bottom: 20px;
                        // &:nth-child(even){
                        //     background-color: #fff;
                        // }
                        .Fb-post-article-left-X{
                            flex-basis: 80%;
                            flex-grow: 1;
                            flex-shrink: 0;
                            .Fb-post-article-left-C-T-X{
                                @include PC_h6($Green_2);
                                margin-bottom: 14px;
                            }
                            .Fb-post-article-left-title-X{
                                @include PC_h5($Green_2);
                                font-weight: 500;
                                margin-right: 20px;
                                line-height: 1.2;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 1;
                                text-overflow: ellipsis;
                            }
                            p{
                                line-height: 1.5;
                                text-align: justify;
                                margin-top: 10px;
                                margin-bottom: 20px;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                text-overflow: ellipsis;
                            }
                            .Fb-post-react-X{
                                i:not(:last-child){
                                    margin-right: 12px;
                                }
                            }
                        }
                        .Fb-post-article-right-X{
                            flex-grow: 0;
                            flex-shrink: 1;
                            flex-basis: 20%;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        .Fb-news-X{
            width: 25%;
            flex-grow: 1;
            flex-shrink: 0;
            .Fb-news-header-X{
                padding: 1rem;
                margin: 20px 0;
                background-color: $Green_1;
                color: $Ivory_white;
            }
            .Fb-news-body-X{
                article{
                    margin-bottom: 20px;
                    display: flex;
                    gap: 5%;
                    color: $Green_2;
                    cursor: pointer;
                    img{
                        width: 40%;
                        height: 40%;
                        aspect-ratio: 1;
                        object-fit: cover;
                    }
                    .Fb-news-body-container-X{
                        flex-grow: 1;
                        width: 55%;
                        .Fb-news-body-container-time-X{
                            margin-bottom: 4px;
                        }
                        .Fb-news-body-container-title-X{
                            @include PC_h5($Green_2);
                            font-weight: 500;
                            line-height: 1.2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                            margin-bottom: 10px;
                        }
                        .Fb-news-body-container-content-X{
                            line-height: 1.2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }

        }
    }
}


/* ----- 單一文章 ----- */
.Fb-Atricle-X {
    letter-spacing: 1px;
    color: $Green_1;
    background-color: $Ivory_white;
    padding: 2rem;
    .Fb-Atricle-title-X {
        font-size: PC_h3($Green_1);
        font-weight: 700;
    }

    .Fb-Atricle-info-X {
        display: flex;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 99rem;
            margin-right: 20px;
        }

        span {
            margin-right: 20px;
        }

        i {
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 20px;
                margin-left: auto;
            }
        }
    }

    p {
        white-space: pre-wrap;
        line-height: 2;
    }

    strong {
        font-weight: 500;
    }

    img {
        width: 100%;
        display: block;
        margin: 20px 0;
    }

    //    .Fb-Atricle-quote-X{
    //     width: 100%;
    //     height: 92px;
    //     margin: 20px 0;
    //     border: 1px solid $Green_1;
    //     border-radius: 10px;

    //    }
}

/* ----- 留言區 ----- */
.Fb-message-X {
    // margin-top: 30px;
    margin-bottom: 40px;
    color: $Green_1;
    background-color: $Ivory_white;
    padding: 2rem;

    .Fb-message-select-X {
        padding: 10px;
        border-bottom: 1px solid $Green_1;

        span {
            margin-right: 40px;
        }

        .Fb-message-selectBox-X {
            position: relative;
            display: inline-block;

            select {
                cursor: pointer;
                outline: none;
                border: 0px solid transparent;
                padding: 10px 28px;
                padding-left: 20px;
                padding-right: 32px;
                border-radius: 30px;
                color: $Ivory_white;
                background-color: $Yellow_1;
                -webkit-appearance: none;
                /* 隱藏箭頭 */
                -moz-appearance: none;
                /* 隱藏箭頭 */
                appearance: none;

                /* 隱藏箭頭 */
                option {
                    background-color: #fff;
                    color: $Green_1;
                }
            }

            &::after {
                content: '\25BC';
                /* 使用不同的箭頭符號 */
                display: block;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                pointer-events: none;
                color: white;
                font-size: 12px;

            }
        }
    }

    .Fb-message-section-X {
        &:last-child {
            border: none;
        }

        padding: 20px 10px;
        display: flex;
        gap: 20px;
        align-items: stretch;
        border-bottom: 1px solid $Green_1;

        .Fb-message-section-seeMore-X {
            color: $Yellow_1;
            cursor: pointer;

            i {
                margin-right: 10px;
            }

            p {
                display: inline-block;
            }
        }

        img {
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 99rem;
        }

        .Fb-message-area-X {
            flex-grow: 1;

            .Fb-message-self-X {
                margin-bottom: 10px;

                .Fb-message-self-name-X {
                    margin-right: 20px;
                }
            }

            .Fb-message-content-X {
                color: $Green_1;

                textarea {
                    background-color: $Light_Green;
                    outline: none;
                    border: 0px solid transparent;
                    width: 100%;
                    height: 100px;
                    padding: 10px;
                    &::placeholder{
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .Fb-message-content-other-X {
                display: flex;
                justify-content: space-between;
                gap: 50px;

                span {
                    line-height: 1.5;

                    &:last-child {
                        color: $Error;
                        cursor: pointer;
                        flex-shrink: 0;
                        font-size: 14px;
                    }
                }
            }

            button {
                float: right;
                margin: 10px 0;
                padding: 10px 28px;
                outline: none;
                border: 0px solid transparent;
                border-radius: 30px;
                color: $Ivory_white;
                background-color: $Yellow_1;
            }
        }
    }
}


/* ----- 撰寫文章 ----- */
.FbW-X {
    background-image: url('../images/Fb08.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    // height: 800px;
    position: relative;
    // filter: blur(3px);
    .FbW-overlay-X {
        // width: 100%;
        // height: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
        // background-color: rgba(0, 0, 0, 0.3);
        /* 發文區的 form */
        .FbW-wrapper-X {
            padding: 50px 20px;
            max-width: 792px;
            margin: 0 auto;
            color: $Ivory_white;
            // background-color: skyblue;
            /* 標題 */
            .FbW-title-X{
                .FbW-postTilte{
                    position: relative;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    label{
                        display: flex;
                        align-items: center;
                        // text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                        // -webkit-text-stroke-width: 0.5;
                        // -webkit-text-stroke-color: var(--Primary-Colors-5b774a, #5B774A);
                        span{
                            &:first-child{
                                font-size: 32px;
                                font-weight: 500;
                            }
                            &:last-child{
                                font-size: 14px;
                                font-weight: normal;
                                margin-left: 20px;
                            } 
                        } 
                    }
                    select {
                        margin-left: auto;
                        font-size: 14px;
                        cursor: pointer;
                        outline: none;
                        border: 0px solid transparent;
                        padding: 10px 28px;
                        padding-left: 20px;
                        padding-right: 32px;
                        border-radius: 30px;
                        color: $Ivory_white;
                        background-color: $Yellow_1;
                        -webkit-appearance: none;
                        /* 隱藏箭頭 */
                        -moz-appearance: none;
                        /* 隱藏箭頭 */
                        appearance: none;
        
                        /* 隱藏箭頭 */
                        option {
                            background-color: #fff;
                            color: $Green_1;
                        }
                    }
        
                    &::after {
                        content: '\25BC';
                        /* 使用不同的箭頭符號 */
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        pointer-events: none;
                        color: white;
                        font-size: 12px;
        
                    }
                }
                input{
                    display: block;
                    outline: none;
                    color: $Green_1;
                    border: 2px solid $Green_1;
                    border-radius: 5px;
                    margin-top: 16px;
                    margin-bottom: 40px;
                    padding: 0 16px;
                    height: 40px;
                    width: 100%;
                    background-color: $Ivory_white;
                    &::placeholder{
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
            /* 內文 */
            .FbW-content-X{
                label{
                    display: flex;
                    align-items: center;
                    span{
                        &:first-child{
                            font-size: 32px;
                            font-weight: 500;
                        }
                        &:last-child{
                            font-size: 14px;
                            font-weight: normal;
                            margin-left: 20px;
                        }
                    }
                }
                .FbW-translate-X{
                    border: 2px solid $Green_1;
                    border-radius: 5px 5px 0 0;
                    margin-top: 16px;
                    padding: 1rem;
                    height: 40px;
                    width: 100%;
                    background-color: $Ivory_white;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    a{
                        cursor: pointer;
                        font-size: 20px;
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
                textarea{
                    outline: none;
                    color: $Green_1;
                    border: 2px solid $Green_1;
                    border-top: 0;
                    border-radius: 0 0 5px 5px;
                    margin-bottom: 16px;
                    padding: 10px 16px;
                    height: 200px;
                    width: 100%;
                    background-color: $Ivory_white;
                    &::placeholder{
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
            /* 預覽圖 */
            .FbW-picture-X{
                padding: 1rem;
                border: 2px solid $Green_1;
                border-radius: 5px;
                height: 200px;
                width: 100%;
                background-color: $Ivory_white;
                box-sizing: border-box;
                div{
                    display: flex;
                    align-items: center;
                    input#FbW-picChoose-X{
                        transform: scale(1.5);
                        cursor: pointer;
                    }
                    label{
                        margin-left: 20px;
                        color: $Green_1;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
                .FbW-picture-slider-X{
                    border: 1px solid $Green_1;
                    width: 200px;
                    height: 120px;
                    margin: 1.5rem 0;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        button{
            display: block;
            margin: 10px auto;
            padding: 10px 28px;
            outline: none;
            border: 0px solid transparent;
            border-radius: 30px;
            color: $Ivory_white;
            background-color: $Yellow_1;
        }
    }
}
