//------------------------------- 首頁_主選單 --------------------------------------//

.Fp_Header_H{
    width: 100%;
    height: 80px;
    border: 1px solid blue;
    text-align: center;
    @include PC_h1($Yellow_1);
    line-height: 80px;
    position: fixed;
    z-index: 999;
}

//---------------------------------------------------------------------------------//
//--------------------------- 環保市集_商品選購頁面 ---------------------------------//

.Sp_productChoice_H{
    max-width: $body_layout;
    // border: 2px solid red;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
    background-color: $Ivory_white;

    .breadCrumb{
        margin-bottom: 40px;
        padding-top: 120px;
        width: 100%;
        @include PC_h4($Green_2);

        ol{
            display: flex;
            margin: 0 24px;
            a{
                text-decoration: none;
                color: $Green_2;
                &:hover{
                    color: $Yellow_1;
                }
            }
        }

        
    }

    .Sp_productChoice_top_H{
        display: flex;
        align-items: center;

        figure{
            // border: 1px solid rgb(128, 28, 28);
            display: flex;
            width: 60%;

            ul{
                // border: 1px solid red;
                margin-right: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 19%;

                li{
                    height: 120px;
                    width: 120px;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        max-width: none;
                        margin-bottom: 0;
                        border-radius: $pic_radius_20px;
                        cursor: pointer;
                    }
                }
            }

            div{
                width: 540px;
                height: 540px;
                
                img{
                    width: 100%;
                    height: 540px;
                    object-fit: cover;
                    object-position: 0 center;
                    border-radius: $pic_radius_20px;
                    max-width: none;
                    margin-bottom: 0;
                }
            }
        }

        .Sp_productChoice_info_H{
            margin-left: 40px;
            // border: 1px solid brown;
            width: 100%;

            section:first-of-type{
                div{
                    border-bottom: 1px solid $Green_2;
                    padding-bottom: 24px;
                    margin-bottom: 24px;

                    h3{
                        @include PC_h2($Green_2);
                        font-size: 2rem;
                        margin: 40px 0 24px 0;
                        text-align: left;
                    }
                    span{
                        @include PC_h3($Green_2);
                    }
                }

                ul{
                    width: 100%;
                    li{
                        @include PC_h4($Green_2);
                        line-height: $line_height_140;
                        list-style: disc;
                        margin-left: 20px;
                    }
                }
            }

            section{
                margin-top: 80px;
                p{
                    @include PC_h4($Green_2);
                    line-height: $line_height_140;
                    margin-bottom: 12px;
                }

                .Sp_productChoice_btnGroup_H{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    gap: 20px;
                    
                    button{
                        @include btn_style($btn_radius_30px, 100%, 42px);
                        line-height: 10px;
                    }
                }

                .Sp_productChoice_inputGroup_H{
                    margin-bottom: 20px;
                }

                .Sp_productChoice_buyNow_H{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    padding-bottom: 32px;
                    
                    button{
                        @include btn_style($btn_radius_30px, 36%, 52px);
                        line-height: 20px;
                    }
                }
            }
        }


    }
}

//---------------------------------------------------------------------------------//
//--------------------------- 環保市集_商品詳情 ---------------------------------//

.Sp_productChoice_details_H{
    width: 100%;
    margin-top: 40px;
    &::before{
        content: '';
        display: block;
        border-top: 4px dashed $Gray_3;
        position: relative;
        top: -42px;  
    }
    .Sp_productChoice_detailsBlock1_H{
        max-width: $body_layout;
        // border: 1px solid black;
        margin: 0 auto;
        width: 50%;
        margin-bottom: 40px;

        h3{
            @include PC_h3($Green_2);
            font-weight: bold;
            text-align: center;
            width: 100%;
            &::after{
                content: '';
                display: block;
                border-bottom: 1px solid $Green_2;
                width: 60%;
                margin: 16px auto 0 auto;
            }
        }
        p{
            @include PC_h4($Green_1);
            margin-top: 20px;
            line-height: $line_height_140;
        }
    }

    figure{
        img{
            width: 100%;
            height: 444px;
            object-fit: cover;
            object-position: center -280px;
        }
    }

    .Sp_productChoice_detailsBlock2_H{
        display: flex;
        max-width: $body_layout;
        margin: 40px auto 40px auto;

        img{
            object-fit: cover;
            width: 70%;
            height: 426px;
            border-radius: $pic_radius_20px
        }

        div{
            @include PC_h4($Green_1);
            margin-left: 40px;
            margin-top: 136px;
            width: 23%;

            h3{
                @include PC_h3($Green_1);
                margin-bottom: 40px;
            }
            p{
                @include PC_h3($Green_1);
            }
        }
    }

    .Sp_productChoice_detailsBlock3_H{
        display: flex;
        max-width: $body_layout;
        margin: 40px auto 40px auto;

        img{
            object-fit: cover;
            width: 70%;
            height: 426px;
            border-radius: $pic_radius_20px;
            object-position: center;
            
        }

        div{
            @include PC_h3($Green_1);
            margin-left: 40px;
            margin-top: 136px;
            width: 23%;
            
            ol{
                list-style: disc;
                padding-left: 24px;
            }
            
        }

    }

}

//---------------------------------------------------------------------------------//
//--------------------------- 環保市集_相關商品 ---------------------------------//

.Sp_productChoice_related_H{
    h3{
        @include PC_h3($Green_2);
        font-weight: bold;
        text-align: center;
        width: 100%;
        &::after{
            content: '';
            display: block;
            border-bottom: 1px solid $Green_2;
            width: 30%;
            margin: 16px auto 40px auto;
        }
    }
    ol{
        max-width: $body_layout;
        // border: 1px solid brown;
        margin: 0 auto 40px auto;
        display: flex;
        justify-content: center;
        gap: 40px;

        li{
            a{
                display: block;

                img{
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: $pic_radius_20px;
                }
                p{
                    text-align: center;
                    margin-top: 40px;
                    @include PC_h4($Green_3);
                }
            }
        }
    }
}

//---------------------------------------------------------------------------------//
//------------------------------ 環保市集_頁尾 -------------------------------------//

.Fp_Footer_H{
    width: 100%;
    height: 268px;
    border: 2px solid red;
    text-align: center;
    @include PC_h1($Yellow_1);
    line-height: 268px;
}

//---------------------------------------------------------------------------------//